---
title: About Us

current_board:
  - name: Botta, Monica
    image: current_board/monica.jpg
    position: Lecture Series Chair
    bio: Dr. Botta is an Associate Professor of Spanish in the Romance Languages Department at Washington and Lee University, where she has been on the faculty since 2006. She received her master’s degree and Ph.D. in Spanish literature from the University of Connecticut. Her research focuses on contemporary Latin American literature and theatre. Other interests include staging plays in Academe, human rights and post-dictatorial literatures. She has directed dramatic readings and theatrical productions at Washington and Lee University. She is also a member of the Latin American and Caribbean Studies Program at Washington and Lee University. She is currently serving as the VALHEN Lecture Series Chair. 

  - name: Espinoza, Juan
    image: current_board/juanespinoza_2012321907.jpg
    position: President
    bio: Juan Espinoza is the Director of Diversity and Access Initiatives for Enrollment Management and Associate Director for the Office of Undergraduate Admissions at Virginia Tech. Prior to joining Virginia Tech University, he was an Assistant Director of Admissions at Radford University from 2004 to 2007. Juan has more than ten years of experience in the admissions profession and strives to reach all underserved populations. He is a member of the Hispanic Faculty and Staff Caucus at Virginia Tech, and has served as VALHEN’s Treasurer since 2011.
  
  - name: Gomez, Monica
    image: current_board/monica-gomez.jpg
    position: Scholarship Co-Chair
    bio: Ms. Gomez works as a counselor for the Pathway to the Baccalaureate program and Instructor for the Student Development department at Northern Virginia Community College (NVCC). Prior to coming to NVCC, she worked in Student Services at The Universities at Shady Grove, an innovative partnership of several members of the University System of Maryland offering higher education at one central location. She is Co-Chair of VALHEN’s Scholarship Program, and holds a Master of Arts in Counseling and Student Development for Higher Education from Trinity University (DC). 
  
  - name: Martin, Mirta M
    image: current_board/Mirta-Martin-inaug-pix1.jpg
    position: Past President
    bio: Dr. Martin is the President of Ft. Hays State University in Kansas. FHSU has an enrollment of 15,000 and a campus in China with an additional 5,000 students. Dr. Martin is the first Latina university president in the state of Kansas. Prior to joining FHSU, she served as the Dean of the Reginald F. Lewis School of Business at Virginia State University, and before that, as Special Assistant to the Chancellor for the Virginia Community College System, and also as the Executive Vice President of the John Tyler Community Foundation, where she provided leadership in building an effective development and outreach program. She received her Baccalaureate from Duke University, with a triple major in Political Science, Psychology, and French. She has an MBA from the University of Richmond and a Ph.D. from Virginia Commonwealth University with a concentration in Strategic Management and Leadership.  

  - name: Martinez, Meriel
    image: current_board/meriel.jpg
    position: Treasurer
    bio: Meriel Martínez is a relative newcomer to Virginia, having moved here from New Jersey in 2013. She received her Master of Arts degree from New York University and went on to develop a career in publishing and higher education. Prior to moving to Virginia, Ms. Martínez was an editor for a major educational publisher, focusing on college-level materials for language learners. Currently, she continues a career in education and aims to serve the growing Latino community in Virginia.   

  - name: McGrath, Erin
    image: current_board/erin.jpg
    position: Board Member
    bio: Ms. McGrath is a Regional Resource Manager for the Federal GEAR UP grant administered through the State Council of Higher Education for Virginia (SCHEV). After moving to Richmond, Virginia in 2007, she taught Spanish for Henrico County Public Schools. Previously, while in Chicago, she taught ESL, Spanish and Bilingual Education in the Chicago Public School System for seven years. She was also the Program Manager and East Coast Director for Workforce Language Services, a language and culture consulting company and translation agency based in Chicago, IL.

  - name: Nieto-Shahsavarian, María
    image: current_board/nieto.jpg
    position: Scholarship Co-Chair
    bio: Ms. Nieto-Shahsavarian holds a dual appointment as an Outreach/Development Specialist for the Pathway to the Baccalaureate Program and as a Spanish Instructor for the Department of Languages and Literature at Northern Virginia Community College (NVCC). She holds a Master of Arts in Foreign Language and a B.A. in Government and International Politics. She has over 20 years of experience at NVCC, where she has served in various capacities on three of the college&rsquo;s campuses, including Program Manager and Medical interpreter (Spanish/English) at the Medical Campus. Ms. Nieto-Shahsavarian is a native Peruvian, with extensive multicultural and global experience. 

  - name: Perez-Quinones, Manuel
    image: current_board/manuel-eblast-photo-1.png
    position: Vice-President
    bio: Dr. Perez-Quinones is an Associate Professor in the Department of Computer Science, and a member of the Center for Human-Computer Interaction at Virginia Tech. Pérez-Quiñones holds a D. Sc. in Computer Science from The George Washington University. His research interests include human-computer interaction, personal information management, user interface software, digital government, and educational uses of computers. Dr. Pérez-Quiñones was chair of the Coalition to Diversify Computing (2010-2011), and has been a member since 2006; he co-directed the national program Collaborative Research Experience for Undergraduates in Computer Science and Engineering. He serves on the editorial board for the ACM Transaction on Computing Education. At Virginia Tech, he was Associate Dean and Director of the Office for Diversity Programs at the Graduate School, Chair of the Hispanic Faculty and Staff Caucus, and a Multi-cultural Fellow
    
  - name: Quintana-Baker, Maricel
    image: current_board/Maricel-vccs1.jpg
    position: Board Member
    bio: Ms. Quintana-Baker is currently a principal at MQB-Consulting, where she specializes in research, writing, and training on higher education policy and Latino and women issues. Previously she served as Associate Director for Academic Affairs and Planning at the State Council of Higher Education for Virginia (SCHEV), where her duties included Virginia's Outstanding Faculty Awards, the Agency's Statewide Strategic Plan, and research and writing on higher education policy. She is a member of the National Advisory Board for the Computing Alliance of Hispanic Serving Institutions and the Hispanic Association of Colleges and Universities' Higher Education Research Collective (H3ERC)

  - name: Rodriguez, Isaac PhD
    image: current_board/isaac.jpg
    position: Board Member and HCI Liaison
    bio: Dr. Rodriguez is currently a Postdoctoral Fellow at The University of Memphis, where he conducts research while at the Department of Biomedical Engineering-University of Memphis and Joint University of Memphis-UTHSC-Memphis Biomedical Engineering Program related to the development of bone and cartilage tissue engineered products. This position is designed to collaborate with industry, hospitals, and other academic institutions. In addition, this position encourages community and diversity outreach on behalf of the department and University. He is a Millennium Scholar and alum of the HCI, having returned to the program as a LEAD, a Fellow, and most recently as the Leadership Fellow.

  - name: Vinueza, Santiago
    image: current_board/santiago.jpg
    position: Student Representative
    bio: Santiago Vinueza is currently a junior at Virginia Tech studying civil engineering. He is a recipient of four different scholarships including one of the 2013 VALHEN Scholarships. His current academic and career goals include obtaining a master’s degree in civil engineering with a focus on structures and materials to perform research to develop more sustainable construction materials, with particular interest in concrete. Santiago has been volunteering in youth empowerment programs since 2011 and has been part of every HCI program to date. He is an adamant supporter of higher education and hopes to motivate students to believe in themselves, never give up, and value the importance of education.

past_board:

  - name: Tania Alvarez, M.A. - Old Dominion University (ODU)
  - name: Sindy Benavides, M. A. - League of Latin American Citizens (LULAC)
  - name: Carlos Campo, Ph.D. - Chair of the Alliance for Hispanic Education, National Hispanic Christian Leadership Conference (NHCLC)
  - name: Marcela Chaván-Matviuk, Ph.D. – Oral Robert University
  - name: Elin Cortijo-Doval, Ph.D. – Virginia State University (VSU)
  - name: Christopher Doval, Esq. - Virginia State University (VSU)
  - name: Judy Pryor-Jimenez, M.A. - Eugene Lang College The New School for Liberal Arts
  - name: Aida Pacheco – Virginia Community College System –Workforce Alliance (VCCS)
  - name: Sylvia Rosa-Casanova, M.A. – State Council of Higher Education for Virginia – POPE Division (SCHEV)
  - name: Maureen G. Shanahan, Ph.D. – James Madison University (JMU)
  - name: Emily Sumner, Esq. – Sumner Immigration Law  
    

--- 

p.hide-for-medium
h1.hide-for-small About
dl.tabs.hide-for-small data-tab=''
  dd.active
    a href='#goals' Goals
  dd
    a href='#board-members' Board Members
  dd 
    a href='#board-alumni' Board Alumni
  dd 
    a href='#letters'  Letters of Support 
    
select.show-for-small data-tab-proxy='dl.tabs'
  option value="#goals" Goals
  option value="#board-members" Current Board Members
  option value="#board-alumni" Past Board Members
  option value="#letters" Letters of support
    
   
.tabs-content 
  #goals.content.active
    h3.hide-for-small Our Goals
    ul 
      li Establish a network of Latino and non-Latino faculty and administrators in public and private colleges, universities and community colleges who can also serve as mentors and role models to our Latino students;
      li Work with community partners to build outreach programs which will address Latino issues and barriers to higher education and promote participation;
      li Work with our higher education institutions to improve access and retention for Latino students, increase the numbers of Latino faculty and staff, and create campus climates which are nurturing and culturally sensitive;
      li Conduct research on Virginia’s Latino population and education;
      li Work with funding partners to establish scholarships and programs which will promote educational opportunities for Latino students;
      li Work with policy makers to advocate for programs and policies, both at the state and institutional levels, which will facilitate access and promote success; and
      li Disseminate information about relevant educational issues affecting the Latino community in the Commonwealth via a Listserv and Website.
    
  #board-members.content
    - current_page.data.current_board.each do |person|
      .row
        .columns.large-3.medium-4.small-6.small-centered.medium-uncentered.large-uncentered style='float:none;margin: auto;'
          = image_tag person['image'], class: 'th', style: "max-height:250px;"
        .columns.large-9.medium-8.small-12
          dl.scholarship
            dt Name
            dd #{person['name']}
            dt Position
            dd #{person['position']}
            dt Bio
            dd #{person['bio']}
       
            
    
  #board-alumni.content  
    p The following individuals have lent their talent and expertise to VALHEN’s mission and served many volunteer hours of dedicated service. We thank each and every one of them for their generosity! 
	
    - current_page.data.past_board.each do |person2|
        .row
          .columns.large-9.medium-8.small-12
            dl.scholarship
              dt 
              dd #{person2['name']}
              
              
  #letters.content
    p VALHEN enjoys the support and encouragement of our Commonwealth’s leaders.

  
    dl.sub-nav#scholarship-tabs data-tab='' 
      dd.content.active
        a.no-shadow href ='#warner' Warner
      dd
        a.no-shadow href ='#kaine' Kaine 
      dd
        a.no-shadow href ='#mcauliffe'  McAuliffe   

    .tabs-content 
      #kaine.content
        = image_tag'letters/Kaine-2014.png'
      #warner.content.active
        = image_tag'letters/Warner-2014.png'
      #mcauliffe.content
        = image_tag'letters/McAuliffe.png'
