---
title: Encuentro
---
h1 Encuentro

p The Encuentro is the annual conference/meeting that provides VALHEN an opportunity to highlight and share the issues affecting our Hispanic/Latino community by providing a time and a place for our members and the community at large to network and foster communication. Each year the Encuentro is hosted by a different college or university in the Commonwealth. Without this generous support from our institutions the Encuentro would not be possible.

b style="color:red; font-weight:bold;" VALHEN’s next Encuentro will take place October 9th, 2015 at James Madison University.
br
br
b style="color:red; font-weight:bold;" <a href="http://www.eventbrite.com/e/valhen-2015-encuentro-at-james-madison-university-tickets-8456486579" target="new">Click here to register!</a>
br
br
b style="color:brown; font-size: 17px; font-weight:bold" Come to the Encuentro AND:
ul style="margin: 10px 0px 0px 40px"
	li Join the conversation as we focus on the importance of cultural competence in college recruitment and retention 
	li Congratulate our 2015 Scholarship Winners
	li Meet some of our outstanding young Hispanic college students involved with VALHEN and our Hispanic College Institute
	li Network with fellow Latinos in the world of education 
	li Free parking, delicious lunch, and wonderful company in the beautiful Shenandoah Valley!
br &nbsp;
p Click a year below to see information from the past Encuentro conferences.

dl.sub-nav#scholarship-tabs data-tab='' 
  dt Year:
  dd.active
    a.no-shadow href ='#2014' 2014
  dd
    a.no-shadow href ='#2013' 2013
  dd
    a.no-shadow href ='#2012' 2012
  dd
    a.no-shadow href ='#2011' 2011
  dd
    a.no-shadow href ='#2010' 2010
  dd
    a.no-shadow href ='#2009' 2009 
hr        
.tabs-content
    #2014.content.active
      p The VALHEN 2014 Encuentro was held this past October 3rd. It was hosted by Old Dominion University and the ODU Hispanic and Latino Employee Association. 
      p We were delighted to welcome The Honorable Nancy Rodrigues, Virginia’s Secretary of Administration to our program, who helped VALHEN thank our outgoing President, Dr. Mirta M. Martin, for her service to our community and to bid her good luck in her new position as President of Ft. Hays State University in Kansas.
      p View photos from the event in our #{link_to 'photo gallery', '/gallery'} section.
      p #{link_to 'Click here', 'documents/2014Encuentro_Program_Proof4.pdf'} to download the program.
      h3 Sponsors
      p We offer sincere thanks to the following sponsors for this year's Encuentro:
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Dominion Power', 'http://www.dom.com'}
          li #{link_to 'Hispanic and Latino Employee Association (ODU)', ''}		  
      .columns.large-6
	  
        ul.no-bullet
          li #{link_to 'Jack Kent Cooke Foundation', ''}		  
          li #{link_to 'Old Dominion University', ''}		  
      p Other VALHEN sponsors include: 
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Altria', 'http://www.altria.com'}
          li #{link_to 'Bank of America', 'http://www.bankofamerica.com'} 
          li #{link_to 'Harrisonburg Public Schools', 'http://harrisonburg.k12.va.us'} 
          li #{link_to 'J.A. Rodriguez-MMDS', ''} 
          li #{link_to 'John Robinson DreamHost.com', 'http://diverseeducation.com'}
          li #{link_to 'National Aeronautics Space Administration (NASA)', ''}
          li #{link_to 'Liberty Tax / Una Familia Sin Fronteras', 'http://www.libertytax.com'}


      .columns.large-6
	  
        ul.no-bullet
          li #{link_to 'National Aeronautics Space Administration (NASA)', ''}
          li #{link_to 'Northern Virginia Community College Foundation', 'http://www.nvcc.edu'}
          li #{link_to 'Raytheon Company', ''}
          li #{link_to 'State Council of Higher Education/CACGP Grant', ''}
          li #{link_to "VCCS/Workforce Develpment", 'http://www.vccs.edu/workforce'}
          li #{link_to 'Virginia Credit Union', 'http://www.vacu.org'}
          li #{link_to 'Virginia State University', 'http://www.vsu.edu'}
          li #{link_to 'Wells Fargo', 'http://www.wellsfargo.com'}


    #2013.content
      p The VALHEN 2013 Encuentro was held at the Parham Road Campus of J. Sargeant Reynolds Community College (JSRCC).  
      p View photos from the event in our #{link_to 'photo gallery', '/gallery'} section.
      p #{link_to 'Click here', 'documents/encuentro-2013-agenda.pdf'} to download the agenda.
      h3 Presenters:
      blockquote
        .columns.large-6
          ul.no-bullet
            li Dr. Mark Allan - VADOE
            li Ms. Denisse Aranda - NASA
            li Eng. David Alvarez - Altria
            li Ms. Whitney Bonham - VT
            li Dr. William Bosher - VCU
            li Dr. Carmen Burrows - TNCC
            li Dr. Renee Chapline - Gateway Region
            li Eng. Priscilla Cygielnik - City of Roanoke
            li Dr. Ray Drinkwater - JTCC
            li Ms. Laura Fornash – Virginia Secretary of Education
            li Ms. Monica Gomez - NVCC
            li Dr. James Groves - UVA
        .columns.large-6
          ul.no-bullet
            li Dr. Joy Hatch - VCCS
            li Professor G. Hiller - UR to Adjunct Professor George Hiller, UR
            li Eng. Debbie Martinez - NASA
            li Mr. Mac Mcginty - CCWA
            li Ms. Maria Nieto - NVCC
            li Mr. Patrick O'Brien - VT
            li Dr. M. Perez-Quinones - VT
            li Dr. R. Ramsammy - NVCC
            li Mr. Phillip Sandino - Dominion
            li Mr. Jonell Sanchez - Pearson Global
            li Dr. Victor Vilchiz - VSU
            li Ms. M. J. Washko - JSRCC
      h3 Sponsors
      p We offer sincere thanks to the following sponsors for this event:
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Altria', 'http://www.altria.com'}
          li #{link_to 'Dominion Power', 'http://www.dom.com'}
          li #{link_to 'Liberty Tax Service', 'http://www.libertytax.com'}
          li #{link_to "VCCS/Workfoce Develpment", 'http://www.vccs.edu/workforce'}
          li #{link_to 'GEICO', 'http://www.geico.org'}
          li #{link_to 'Diverse', 'http://diverseeducation.com'}
          li #{link_to 'Virginia State University', 'http://www.vsu.edu'}
          li #{link_to 'Wells Fargo', 'http://www.wellsfargo.com'}
          li #{link_to 'ICF International', 'http://www.icfi.com'}
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Northern Virginia Community College', 'http://www.nvcc.edu'}
          li #{link_to 'The Hispanic Outlook in Higher Education Magazine', 'http://www.hispanicoutlook.com'}
          li #{link_to 'Latinos in Higher Ed', 'http://latinosinhighered.com'}
          li #{link_to 'J. Sargeant Reynolds Community College', 'http://www.reynolds.edu'}
          li #{link_to 'Virginia Credit Union', 'http://www.vacu.org'}
          li #{link_to 'Social Security Administration', 'http://www.ssa.gov'}
          li #{link_to 'Harrisonburg Public Schools', 'http://harrisonburg.k12.va.us'}
          li #{link_to 'Bank of America', 'http://www.bankofamerica.com'}                 
    #2012.content
      p The VALHEN Encuentro 2012, Latinos in the Arts and Sciences: Past, Present, and Future, was hosted by Regent University, Virginia Beach, VA
      p View photos from the event in our #{link_to 'photo gallery', '/gallery'} section.
      p #{link_to 'Click here', 'documents/encuentro-2012-program.pdf'} to download a copy of the Encuentro 2012 program. 
      h3 Sponsors
      p We offer sincere thanks to the following sponsors for this event:
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Altria', 'http://www.altria.com'}
          li #{link_to 'Dominion Power', 'http://www.dom.com'}
          li #{link_to 'Liberty Tax Service', 'http://www.libertytax.com'}
          li #{link_to "VCCS/Workfoce Develpment", 'http://www.vccs.edu/workforce'}
          li #{link_to 'GEICO', 'http://www.geico.org'}
          li #{link_to 'Diverse', 'http://diverseeducation.com'}
          li #{link_to 'Virginia State University', 'http://www.vsu.edu'}
          li #{link_to 'Wells Fargo', 'http://www.wellsfargo.com'}
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Northern Virginia Community College', 'http://www.nvcc.edu'}
          li #{link_to 'The Hispanic Outlook in Higher Education Magazine', 'http://www.hispanicoutlook.com'}
          li #{link_to 'Latinos in Higher Ed', 'http://latinosinhighered.com'}
          li #{link_to 'Regent University', 'http://www.regent.edu'}
          li #{link_to 'Virginia Credit Union', 'http://www.vacu.org'}
          li #{link_to 'Social Security Administration', 'http://www.ssa.gov'}
          li #{link_to 'Harrisonburg Public Schools', 'http://harrisonburg.k12.va.us'}
          li #{link_to 'Bank of America', 'http://www.bankofamerica.com'}
    #2011.content
      p The VALHEN Encuentro 2011, Latinos - Growing and Driving Success in Virginia, was held at Northern VA Community College, Annandale, VA.
      p #{link_to 'Click here', 'documents/encuentro-2011-program.pdf'} to download a copy of the Encuentro 2011 program. 
      h3 Sponsors
      p We offer sincere thanks to the following sponsors for this event:
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Verizon', 'http://www.verizon.com'}
          li #{link_to 'Dominion Power', 'http://www.dom.com'}
          li #{link_to 'Liberty Tax Service', 'http://www.libertytax.com'}
          li #{link_to "Virginia's Community Colleges", 'http://myfuture.vccs.edu'}
          li #{link_to 'CollegeBoard', 'http://www.collegeboard.org'}
          li #{link_to 'Diverse', 'http://diverseeducation.com'}
      .columns.large-6
        ul.no-bullet
          li #{link_to 'Northern Virginia Community College', 'http://www.nvcc.edu'}
          li #{link_to 'The Hispanic Outlook in Higher Education Magazine', 'http://www.hispanicoutlook.com'}
          li #{link_to 'Latinos in Higher Ed', 'http://latinosinhighered.com'}
          li #{link_to 'Regent University', 'http://www.regent.edu'}
          li #{link_to 'Virginia Credit Union', 'http://www.vacu.org'}
    #2010.content
      p The VALHEN Encuentro 2010, Latino Leadership and Virginia Higher Education, was held at Virginia State University, Petersburg, VA.
      p #{link_to 'Click here', 'documents/encuentro-2010-program.pdf'} to download a copy of the Encuentro 2010 program. 
      h3 Sponsors
      p We offer sincere thanks to the following sponsors for this event:
      .columns.large-6
        ul.no-bullet
          li #{link_to 'ECMC Foundation', 'http://www.ecmcfoundation.org'}
          li #{link_to 'Dominion Power', 'http://www.dom.com'}
          li #{link_to 'Liberty Tax Service', 'http://www.libertytax.com'}
          li #{link_to 'One of a Kind Landscapes', 'http://www.oneofakindlandscapes.com'}
          li #{link_to 'CollegeBoard', 'http://www.collegeboard.org'}
      .columns.large-6
        ul.no-bullet
          li #{link_to 'The Hispanic Outlook in Higher Education Magazine', 'http://www.hispanicoutlook.com'}
          li #{link_to 'Latinos in Higher Ed', 'http://latinosinhighered.com'}
          li #{link_to 'Regent University', 'http://www.regent.edu'}
          li #{link_to 'Virginia Credit Union', 'http://www.vacu.org'}
    #2009.content
      p The VALHEN Encuentro 2009, The Changing Face of the U.S.: Latinos in College in the 21st Century, was held at Virginia Tech, Blacksburg, VA.
      p #{link_to 'Click here', 'documents/encuentro-2009-agenda.pdf'} to download a copy of the Encuentro 2009 agenda.

