---
title: Hispanic College Institute
---

p.hide-for-medium
h1.hide-for-small style="text-align:center;" Hispanic College Institute
center
	iframe width="560" height="315" src="http://www.youtube.com/embed/I38ako2h3VM" frameborder="0" allowfullscreen="true"
br
p.text-center style="color:red; margin-top:-10px;"
  | Applications for the 2016 HCI are now open. Apply at: &nbsp;
  a href="https://virginiatech.qualtrics.com/jfe/form/SV_3jZcQfstQlNFq9D" target="new" style="color:blue;text-decoration:underline;" HCI 2016 Registration.

h3 ABOUT

p The VALHEN Hispanic College Institute (HCI) is a highly successful residential program that prepares Hispanic students in the Commonwealth of Virginia to enter and succeed in higher education.

p The program is based on research and input from Hispanic educators and community leaders, and much of the content is delivered by Hispanics who can relate to the students’ experiences and challenges. The program provides clear and practical college application and financial aid information, and allows students to have the opportunity to engage with successful Hispanic leaders and role models who will help inform them about career and educational opportunities. If admitted, students will:
.panel
  ul
    li Live on Virginia Tech's beautiful campus
    li Receive help writing a college application essay
    li Participate in STEM-related workshops (Science, Technology, Engineering and Mathematics) sponsored by NASA
    li Learn and/or improve public speaking, presentation and interviewing skills
    li Experience increased awareness of community-focused civic engagement
    li Understand the financial aid and the FAFSA application processes
    li Acquire knowledge on how to search for available scholarships and other types of financial aid
    li Meet and engage with Hispanic leaders and role models to learn about their career successes
    li Have the opportunity to meet with college admissions and financial aid representatives
    li Compete for available scholarships
    li Participate in a College, Career and Community Resource Fair

a id="interest"

.row
  .columns.large-6
    h3 INTERESTED?
    p <strong>Applications will be open in spring of 2016. Keep checking this website and apply early, as there will be a limited number of spots available. The program is free to the students, with free transportation, food and lodging.</strong>
         
  .columns.large-6
    h3 REQUIREMENTS
    .panel
      ul
        li 2.5 GPA or above.
        li Current high school sophomore (rising junior) or junior (rising senior).
        li Enrolled full-time in a Virginia high school.
        
h3 FOR PROFESSIONAL VOLUNTEERS
p More information will be available in late spring of 2016.

p VALHEN wishes to thank the HCI Volunteer Chairs and the vast number of other volunteers, including members of VALHEN, its Board of Directors, and other community volunteers for the many hours spent helping make HCI a reality. VALHEN also wishes to thank our generous sponsors for their support and faith in our mission. Without these individuals and sponsoring organizations, this endeavor would not be possible!

h3 Sponsors
p VALHEN would like to thank the following organizations for their generous sponsorship of the 2015 and previous HCI programs. We look forward to your continued support for this year's HCI!
.columns.large-4
  ul.no-bullet
		li #{link_to 'Virginia Tech' , 'http://www.vt.edu' }
		li #{link_to 'NASA' , 'http://www.nasa.org' }
		li #{link_to 'Altria', 'http://www.altria.com'}
		li #{link_to 'Dominion Power', 'http://www.dom.com'}
.columns.large-4
  ul.no-bullet
    li #{link_to 'JA Rodriguez-MMDS' , '' }
    li #{link_to 'John Robinson', 'http://www.dreamhost.com'}
    li #{link_to 'Northern Virginia Community College Educational Foundation', 'http://www.nvcc.edu'}
    li #{link_to 'Raytheon Company', 'http://www.raytheon.com/'}
.columns.large-4
  ul.no-bullet
    li #{link_to 'Richmond Community Foundation', 'http://www.richmondcf.org'}
    li #{link_to "Virginia Center for Inclusive Communities", 'http://www.inclusiveva.org/'}
    li #{link_to 'Virginia Credit Union', 'https://www.vacu.org/'}
    li #{link_to 'Virginia 529 Program', 'http://www.virginia529.com/'}
    li #{link_to 'Wells Fargo', 'http://www.wellsfargo.com'}
    
  
