---
title: Welcome
---
br
.hide-for-small style="width:720px; margin-left:140px;"
  ul data-orbit=''
  	li
  	  = link_to image_tag("front-slider/Slide1.jpg")
  	li
  	  = link_to image_tag("front-slider/Slide2.jpg")
	li
	  = link_to image_tag("front-slider/group-in-Moss-seated.jpg", style: "height:540px;")
	li
	  = link_to image_tag("front-slider/nig-selfie-good.jpg", style: "height:540px;")
	li
	  = link_to image_tag("front-slider/NASA-director.jpg", style: "height:540px;")
	li
	  = link_to image_tag("front-slider/cafe.jpg", style: "height:540px;")
	li
	  = link_to image_tag("front-slider/moss-everyone-seated.jpg", style: "height:540px;")
	li
	  = link_to image_tag("front-slider/dancer-talent-show.jpg", style: "height:540px;")
	li
	  = link_to image_tag("front-slider/Slide3.jpg")
	li
	  = link_to image_tag("front-slider/Slide4.jpg")
	li
	  = link_to image_tag("front-slider/Slide5.jpg")
	li
	  = link_to image_tag("front-slider/Slide6.jpg")

p.text-center style="color:red; margin-top:-10px; text-align:center;"
  | Applications for the 2016 HCI are now open. Apply at: &nbsp;
  a href="https://virginiatech.qualtrics.com/jfe/form/SV_3jZcQfstQlNFq9D" target="new" style="color:blue;text-decoration:underline;" HCI 2016 Registration.

h1.text-center.hide-for-small Welcome to VALHEN!
p.text-center <a href="https://www.youtube.com/watch?v=I38ako2h3VM" target="new"> Click Here </a> to view a short video from the 2015 Hispanic College Institute

p The Virginia Latino Higher Education Network (VALHEN) is the only state-wide, non-profit, 501(c) (3) organization which supports, promotes, and advocates for Latino success and advancement in higher education, to ensure that every Latino in Virginia is college and career ready for the benefit and betterment of the Commonwealth of Virginia.

p During 2006-2007, a small group of Latino and non-Latino higher education faculty and administrators worked on the possibility of creating a state-wide network organization designed to conduct research on, and advocate for full participation in higher education by Virginia's Latino population.

p The Virginia Latino Higher Education Network (VALHEN) first created a Listserv, hosted and managed by James Madison University. In Addition, in January 2007, Virginia Commonwealth University hosted a meeting attended by almost 50 representatives from our higher education and Latino communities throughout the State. 

p In March of 2007, a small group of interested individuals convened to talk about VALHEN and its potential. At that meeting, discussions indicated that increasing access to higher education for Virginia's Latinos, connecting to a study center at a university, and developing VALHEN to be a visible networking force in the Commonwealth were realistic and immediate goals of the group.

p VALHEN addresses a need for Virginians to have a strong voice and a medium through which we can advocate for the success of our Latino community. As this community continues to grow, we need to become more involved in the educational process to ensure access and full participation.

h1.text-center.hide-for-small VALHEN Lecture Series

.alert-box.alertgreen data-alert=''
  div.text-center <p><b><font style="color:#9f212b">  HERE IS AN OPPORTUNITY TO VISIT ANOTHER INSTITUTION AND PRESENT YOUR WORK/RESEARCH! </font></b><br>
                       <font size="4"> Submit a proposal to be one of VALHEN’S Lecture Speakers this year. <br>
                                       Stipend provided </font><br>
                       <font size="4"> #{link_to 'Click here to find out how.', "/lecture-series#proposals"} </font></p><br>

