---
title: Membership
---

p.hide-for-medium
h1.hide-for-small Membership
p Are you interested in making a difference in the lives of Latinos within the Commonwealth of Virginia?  You can really make a difference in the educational achievements of our high school and college students. We invite you to help us “pass it forward” and become a volunteer with the Virginia Latino Higher Education Network (VALHEN). Want to help? Contact us at #{link_to 'info@valhen.org', 'mailto:info@valhen.org'}. 

h5 As a VALHEN volunteer you will enjoy
.row
  .columns.large-6
    ul
      li Network of Peers: Members tell us the chance to network with other members is one of their most prized benefits! The VALHEN Listserv allows members to bounce ideas off one another, learn about possible job opportunities, hear about new reports, projects and initiatives, and share information about new software or tools. And our yearly Encuentro allows our members to meet face-to-face with other members and participate in presentations and workshops all built around the theme of Latinos and Higher Education.
      li Recognition for Your Work: Our innovative #{link_to 'lecture series', '/lecture-series'} features the research and work of our members. Lectures will rotate among our institutions, will be free of charge, and open to the public. Participation in this unique program benefits not only the presenters but also those who attend the lectures. The program was piloted with an inaugural lecture at the University of Richmond this past fall. This effort is a win for everyone!
      li Free Membership in the Virginia Credit Union: The #{link_to 'Virginia Credit Union', "http://www.vacu.org"} has designated VALHEN as one of its Eligible Companies and Groups. #{link_to 'Join the Virginia Credit Union', "http://www.vacu.org/About_VACU/Membership/How_to_Join.aspx"} and enjoy the benefits of membership. 
  .columns.large-6
    ul      
      li Develop and Grow Our Scholarship Process: One of our priorities has been to establish a scholarship for deserving students of Latino origin who are either graduating from high school or already in the first three years of college. This process, led by our Scholarship Chair, is coordinated by our volunteer members who read all applications and make the selection. As we grows, the goal is to increase the monetary amount as well as the number of future scholarships.
      li Design and Deliver Our Outreach Activities: One aspect of our three-sided mission focuses on members performing Outreach efforts designed to improve access to higher education for our Latino students.

.row
  .columns.large-12
    h3 Volunteer and Get Involved!
    p We offer you the opportunity to get involved and to give back! Do you remember when someone helped you or mentored you, thus enabling you to get a college education or to advance in your career?
    p Well—here is your chance to do that for someone else! You can—as they say—pay it forward. Get involved; VALHEN is a volunteer organization and there is room for everyone to help and give.
    p And this, indeed, may be the most important benefit of all!
    p For questions about membership or volunteering, please #{mail_to 'membership@valhen.org', "email us"}!
