---
title: Scholarships
years:
  2014:
    - name:   Cadima, Emily
      image:  scholarships/2014-emily-cadima.png
      school: George Mason University
      award:  <kbd>$1000</kbd> VALHEN Scholarship
      bio:    "Emily has started college this fall at George Mason University and plans on graduating in the spring of 2018. She graduated with a 3.76 grade point average from George C. Marshall High School and was an active participant in her school and community with involvement in various honor societies, cultural dance groups, and numerous service activities. Although Emily is just beginning her college career, she already has a clear vision of the future. She pictures herself working for the United States Department of State or possibly for the United Nations. Emily believes that overcoming obstacles and achieving dreams is at the core of what it means to be Latino. She plans to make her mark on the world by improving and uplifting the lives of people who face hardships. She wants to prove that there are ways to overcome and be successful; despite all odds."

    - name:   Coello, Jonathan 
      image:  scholarships/2014-jonathan-coello.png
      school: Northern Virginia Community College – Pathway to the Baccalaureate Program
      award:  <kbd>$1000</kbd> Mario Colón Rivadeneira Memorial Scholarship
      bio:    "Jonathan is currently enrolled at Northern Virginia Community College where he is a part of the Pathway to the Baccalaureate Program. He is studying Biology while maintaining a G.P.A. of 3.7; his goal is to transfer to George Mason University and eventually he would like to attend medical school. Hoping to become the first in his family to receive a Bachelor’s degree, Jonathan does his best to balance school with work and personal time. Having a passion for working with children, he volunteers at a local neighborhood community center where he tutors students from 1st to 12th grade as well as coaching young children as a swim instructor. Having been through many hardships in life, Jonathan seeks to be a good role model for the people he comes across and tries to instill a love of school and learning in young minds. He makes sure to take full advantage of every opportunity granted to him.  He is already considered a success among his family and friends and they are all very proud of him!"

    - name:   Medrano, Wilmer 
      image:  scholarships/2014-wilmer-medrano.png
      school: Northern Virginia Community College – Pathway to the Baccalaureate Program 
      award:  <kbd>$500</kbd> VALHEN Scholarship
      bio:    "Wilmer is a freshman at Northern Virginia Community College.  His passion towards helping his community motivates him to study criminal justice. In 2013, Wilmer joined Raider Readers, a club that places high school students at Baileys Elementary school to read to the young students and build a mentoring relationship. He also joined the Hispanic Honor Society that promotes Hispanic culture through school activities.  For example, he volunteered as a tutor for high school freshmen in beginner level Spanish.  Since his first year in the United States he has held a job to help support his family and his studies. His dedication at school, willingness to serve, and discipline at work have served him well as he joined the Fairfax County Department of Neighborhood and Community Service as an Activity Facilitator.  He was been actively involved with United for Social Justice (USJ), and STAR, two non-profit organizations whose missions are to enable more low-income and at-risk students to access higher education."

    - name:   Quiróz, Ingrid 
      image:  scholarships/2014-ingrid-quiroz.png
      school: Virginia Commonwealth University 
      award:  <kbd>$500</kbd> VALHEN Scholarship
      bio:    "A current sophomore at Virginia Commonwealth University, Ingrid was also a 2013 VALHEN Scholarship recipient. Arriving in the U.S. at age 16, she worked hard to learn English and adapt to her new home and make new friendships. During high school, she worked several part time jobs to help her family financially and save for college. Ingrid did not let any of these struggles prevent her from excelling in high school, where she was an honor student and member of both, the National Honor Society and the Mathematical Honor Society. She also stayed involved in her community by teaching Spanish at a local church and to others in her community who could not read or write in Spanish. When asked about her future goals, she said: “As a mechanical engineer, I would like to work at a rehabilitation center, designing prosthetic limbs for those individuals who unfortunately do not have their limbs anymore. I believe that everyone deserves to live a happy life, free of complications, and my goal is to make a difference in their quality of life by redesigning the current prosthetic limbs with needed improvements or invent new ones more sensitive to the nerves and stimuli.”
" 

    - name:   Reyes, Natalie
      image:  scholarships/2014-natalie-reyes.png
      school: Northern Virginia Community College 
      award:  <kbd>$500</kbd> VALHEN Scholarship
      bio:    "This is Nathalie’s first year at Northern Virginia Community College (NOVA) where she is pursuing an Associate of Science degree in Business Administration.  While enrolled as a full-time student at NOVA, Nathalie is currently participating in the work study program on campus as well as working another job off campus.  During her free time Nathalie volunteers with an organization called Our Fathers Love (OFL) as part of her church work where she helps to feed the needy.  She also volunteers at her local church to assist with presentations.  Her future plans include transferring to James Madison University where she plans to major in Marketing and going on to pursue a career as a marketing executive."

    - name:   Trujillo-Camorlinga, Anahi 
      image:  scholarships/2014-anahi-trujillo-camorlinga.png
      school: Mary Baldwin College 
      award:  <kbd>$1000</kbd> VALHEN CVC Campaign Scholarship
      bio:    "Anahi is a senior at Mary Baldwin College (MBC) where she has been on the Dean’s List and Honor Roll with a current GPA of 3.78. In addition to keeping up with her academics, she is a work-study student in the Office of Information Technology and plays on the volleyball and softball teams at MBC. After earning her associate of arts degree while in high school, Anahi will graduate in May of 2015 with a Bachelor in Spanish and minors in Education and English. She is hoping to continue her education and pursue a Master’s degree in teaching.  In her words: “Getting this far seemed impossible since the first day I applied to various universities, but now that I have gotten this far and decided to become a Spanish teacher, my desire is to give back to my community by enriching the young minds of my students one day. From personal experience, I know what many kids today feel when they are put into a new environment that they know nothing of, and it is my dream to be one of these great ESL teachers and be sensitive to other cultures while at the same time better understand the various situations immigrants face in school; especially the ones who are not fluent in English.”
"	

  2013:
    - name:   Gutiérrez, Carla
      image:  scholarships/2013-gutierrez.png
      school: Virginia Polytechnic Institute and State University (Freshmen)
      award:  <kbd>$1000</kbd> Mario Colón Rivadeneira Memorial Scholarship
      bio:    "Carla started college this fall at Virginia Tech. She graduated with a 4.195 grade point average from high school and was an active participant in her school and home communities with involvement in various honor societies, choir clubs and other community service activities. Although Carla is just beginning her college career, she already has a clear vision of the future she wants for herself; as an equine veterinarian she will work a six-day week with additional “on call” emergency responsibilities as needed. Carla believes that overcoming obstacles, achieving dreams, ability to set goals, time management, being able to prioritize and taking the first step towards whatever needs to be done are at the core of what it means to be a leader. Carla’s favorite perspective about life comes from the words of Robert Frost, “In three words I can sum up everything I’ve learned about life: it goes on.” At times, when she makes mistakes, she is hard on herself, so she tries to remember these words; she refuses to live in the past; hanging on things she could have done differently. Life does go on and she wants to go on with it."

    - name:   López, Griselda
      image:  scholarships/2013-lopez.png
      school: Northern Virginia Community College (Freshmen)
      award:  <kbd>$1000</kbd> VALHEN CVC Campaign Scholarship
      bio:    "Griselda López was accepted in the Dental Hygiene Program at Northern Virginia Community College in May of 2013. She is in her first semester and the competition ratio was approximately 4:1, from 132 students who applied this year only 32 were accepted. Griselda is very proud of this accomplishment as well as being the second one in her family to receive a college degree. Quoting a paragraph from her leadership essay: “Sometimes you must step forward and step up to the plate and become a team leader in order to keep the team moving forward. In 2011 I had to make a big decision to move forward and continue my education. I quit my job that I loved and had perfected so that I could focus on my studies.” Besides studying and being a mother of three, she still makes time to give back to the community by volunteering with Mission of Mercy and Give Kids a Smile, both of which help low income families like the one that she comes from."
      
    - name:   Luna, Valery
      image:  scholarships/2013-Luna.png
      school: Virginia Polytechnic Institute and State University (Sophomore)
      award:  <kbd>$1000</kbd> VALHEN Scholarship
      bio:    "While in high school, Valery was elected as a Class Board officer for freshman, sophomore and junior years and in her senior year accepted on the Student Government Board. She was also a member of the National Honor Society and recipient of the Chantilly Pyramid Minority Student Achievement, AP Scholar Award and Civic Seal. Moreover, she was chosen in 2012 as a Valedictorian of Centreville High School with a GPA of 4.2. Valery is now in her third semester at Virginia Polytechnic Institute and State University pursuing a degree in Human Development, with the desire to use it to impact those in her community. With this degree she plans to attend graduate school where she will pursue a career as an elementary school teacher. Outside of class, Valery continues her campus involvement in extra-curricular activities with a commitment to community organizations. She is actively involved with Campus Crusaders, a campus ministry, Hokie Ambassadors, Teach for America, is a Relay for Life captain, and is an employee of the Virginia Tech Child Development Center for Learning and Research."

    - name:   Montano, Jesica
      image:  scholarships/2013-montano.png
      school: Northern Virginia Community College (Sophomore)
      award:  <kbd>$500</kbd> VALHEN Scholarship
      bio:    "Jesica is beginning her second year at Northern Virginia Community College (NOVA) where she is a participant in the Pathway to the Baccalaureate program. Jesica has maintained a 3.5 GPA while enrolled at NOVA and also working a part-time job. Her outstanding academic performance has even landed her on the Presidential Scholars list last spring. In addition to keeping up with her academics and working, Jesica also makes time to volunteer with the Arlington Food Assistance Center (AFAC). Her desire to give back to her community stemmed from her own family’s financial troubles and the realization that many others in her community were also struggling and she could do something to help. Currently Jesica is studying Business Administration and plans to transfer to George Mason University to major in Accounting."

    - name:   Quiróz, Ingrid
      image:  scholarships/2013-quiroz.png
      school: Virginia Commonwealth University (Freshmen)
      award:  <kbd>$500</kbd> Liberty Tax | Una Familia Sin Fronteras Scholarship
      bio:    "Ingrid Quiróz is starting her college career at Virginia Commonwealth University after completing high school with a 3.6 GPA. After arriving in the United States at age 16, Ingrid worked hard to overcome the language barrier and adapt to her new home. She worked several part time jobs throughout high school to help her family and to save money for college. Ingrid did not let any of these struggles prevent her from staying involved in her community. She has exemplified this through her commitment by teaching Spanish to members of a local church as well as to those in her community who could not read or write in Spanish. Ingrid plans to study Biomedical Engineering so she can contribute to creating more efficient prosthetics to help those in need."


    - name:   Rivero, Andrea
      image:  scholarships/2013-rivero_0.png
      school: Northern Virginia Community College (Freshmen)
      award:  <kbd>$500</kbd> Liberty Tax | Una Familia Sin Fronteras Scholarship
      bio:    "Andrea is beginning her college career at Northern Virginia Community College after completing high school with a 3.2 GPA. While in high school, Andrea was an active participant in the Key Club and Spanish Honor Society as well as an athlete for the school’s volleyball team. She honed her leadership skills as a member of the leadership team where they served the community by doing fundraisers to help children in need. Andrea was also actively involved in coaching volleyball for the Springfield Youth Club (SYC) which has taught her valuable qualities that exemplify leadership: integrity, vision, and authenticity that she strives to incorporate into her own leadership abilities."

    - name:   Vineuza, Santiago
      image:  scholarships/2013-vinueza.png
      school: J. Sargeant Reynolds Community College (Sophomore)
      award:  <kbd>$500</kbd> Liberty Tax | Una Familia Sin Fronteras Scholarship
      bio:    "Santiago is currently a sophomore at J. Sargent Reynolds Community College where he has been on the President’s Honor Roll with a 4.0 for the two semesters that he has been attending. In addition to keeping up with his academics, Santiago works a full time job to help pay for his college tuition and expenses. He hasn’t let that stop him from being involved in his community both at his high school and in the community at large. While he was in high school, Santiago was the president of both the Spanish National Honor Society and the Math Honor Society, was the captain of the varsity soccer team in his senior year and even co-founded a club called LAPS (Latino Association for Personal Success). The mission of the club was to encourage fellow Latino students to see college as a possibility and work to realize that goal. He plans to study civil engineering and would like to eventually work designing sustainable infrastructures."


  2012:
    - name:   Beserra, María Flores
      image:  scholarships/maria-flores-beserra.png
      school: James Madison University (Freshmen)
      award:  <kbd>$500</kbd> VALHEN Scholarship
      bio:    "María is a freshman at James Madison University after completing her high school career with an average of a 4.15 GPA. At JMU, she plans to obtain her Bachelor of Science in Nursing and also become a licensed Registered Nurse. She would like to specialize in Oncology Nursing. While she was still in high school, Maria chose to get involved in her community and selected to do this through service to her school, church, and by participating in the track and field program. In her application essay, María expresses that for her, being a Latina is about putting forth her best effort in all that she does. María was brought to the United States at age eight and at the time didn’t really understand why her parents were making such a big move. Now though, she sees that America holds a brighter future for her and her family and she can find success through determination and hard work."

    - name:   Juarez, Gloria
      image:  scholarships/gloria-juarez.png
      school: James Madison University (Freshmen)
      award:  <kbd>$500</kbd> Liberty Tax "Una Familia Sin Fronteras" Scholarship
      bio:    "Gloria is starting her college career at James Madison University after completing high school with a GPA of a 4.1. Gloria plans to study nursing and would like to specialize in pediatric oncology to help children and adolescents battling cancer. For Gloria, giving back has been a part of her life through the service she has provided in her community by volunteering for a free clinic and engaging in student activities while in high school. Gloria understands the sacrifices that her parents have made and plans to take advantage of all of the opportunities afforded to her, especially that of obtaining her education."


    - name:   Suxo-Smith, Dayshva
      image:  scholarships/Dayshva-Suxo-Smith.png
      school: George Mason University (Junior)
      award:  <kbd>$500</kbd> Liberty Tax "Una Familia Sin Fronteras" Scholarship
      bio:    "Dayshva is a graduate of Northern Virginia Community College where she completed her Associate of Science degree in Business Administration with Summa Cum Laude honors. Her academic achievements garnered the distinction of being on the Dean’s and Presidential Scholar’s lists every semester, completing her studies at NOVA with a 3.95 GPA. Her future goals include completing her bachelor’s degree in business with the aspiration of opening a bakery alongside her husband one day. Dayshva began to cultivate her love of baking and culinary arts while in high school by taking classes, participating in workshops and even taking part in baking competitions. She also began to hone her entrepreneurial skills in high school by starting a catering business. With a few more years of experience and a business degree in hand, she plans to embark on a bakery business of her own."


    - name:   Velazco, Diego R.
      image:  scholarships/diego-velazco.png
      school: James Madison University (Freshmen)
      award:  <kbd>$500</kbd> Liberty Tax "Una Familia Sin Fronteras" Scholarship
      bio:    "Diego Velazco is a college freshman beginning this fall semester at Hampden-Sydney College. While in college, Diego plans to sharpen his skills as a writer and pursue a degree in Journalism, pursuing graduate studies after he completes his Bachelor of Arts. His career goal is to become a writer so he can highlight the plight of the immigrant workers in this country and help provide alternatives to the many issues they face on a daily basis. For Diego, watching his father and others sacrifice so much for an opportunity to accomplish their dreams in the United States is a motivating factor that makes him work with dedication. He plans to take advantage of every opportunity so he can advance and grow professionally and in this way make a name for himself and his family." 


    - name:   Vera, Brandon D.
      image:  scholarships/brandon-vera.png
      school: James Madison University (Freshmen)
      award:  <kbd>$1000</kbd> Mario Colón Rivadeneira Memorial Scholarship
      bio:    "Brandon is starting college this fall at Regent University. He graduated with a 4.17 grade point average from high school and was an active participant in his school and home communities with involvement in various honor societies, madrigals choir group and other community service activities. Although Brandon is just beginning his college career, he already has a clear vision of the future he wants for himself. He pictures himself as a world-class journalist writing for the New York Times one day. Brandon believes that overcoming obstacles and achieving dreams is at the core of what it means to be a Latino in America. He plans to make his mark on the world by writing inspiring stories about people who face hardships that seem insurmountable, to prove that there are ways to overcome and be successful, despite the odds."


    - name:   Vera-Brain, Sebastian
      image:  scholarships/sebastian-vera-brain.png
      school: James Madison University (Freshmen)
      award:  <kbd>$1000</kbd> VALHEN Scholarship
      bio:    "Sebastian Vera-Brain completed his high school career with a GPA of 4.08 and is now in his first semester of college at Randolph-Macon College. Sebastian plans to pursue his love for music and engineering in college and has aspirations to develop new technologies that will benefit his community in the future. While in high school, Sebastian was selected to participate in Richmond’s Steward School’s Latino Educational Advancement Program (LEAP), where he learned more about his Latino roots and grew in his understanding of his heritage and began to take more pride in it. He also had time to participate in extra-curricular activities during high school where he perfected his love of music by participating in the jazz, pep, and concert bands." 


    - name:   Villarroel, Gisela M.
      image:  scholarships/gisela-villarroel.png
      school: Northern Virginia Community College
      award:  <kbd>$1000</kbd> VALHEN-CVC Campaign Scholarship
      bio:    "Gisela Villarroel will receive her Associate in Business degree from Northern Virginia Community College and then transfer to the University of Virginia next fall. Gisela is very proud of this accomplishment as she will be the first one in her family to receive a college degree. She is also a participant in the Pathway to the Baccalaureate program, a college access and success program that has helped her on this educational journey. Her future goals include leading organizations while helping to advance the lives of low income families like the one that she comes from. In addition to working full time to help her family and pay for her studies, Gisela also makes time to participate with Virginia 21, an advocacy group for young voters."


  2011:
    - name:   Espinoza, Ada Carolina 
      image:  scholarships/ada-carolina-espinosa.png
      school: George Mason University (Junior)
      award:  <kbd>$500</kbd> The Liberty Tax Service "Una Familia Sin Fronteras" Scholarship
      bio:    "Ada Carolina Espinoza is a junior at George Mason University majoring in Global Affairs with a concentration in Governance and Diplomacy and minoring in Economics. Ultimately her goal is to work for the U.S. Agency for International Development (USAID), the U.S. Department of State or the United Nations. When Ms. Espinoza came to the United States from Peru six years ago, she spoke little English. Less than a year later, she had learned the language, which she proudly admits is one of her greatest achievements. In the essay she submitted with her application as well as in her interview, Ms. Espinoza expressed the role that work ethic plays in achieving success. She describes Latinos as hard workers with dreams of success equal to those of the colonists who came to America. In her own words, “we fight for our dreams, goals and desires and we manage to accomplish them, because Latinos are people who never give up."

    - name:   Gomez, Raymundo
      image:  scholarships/raymundo-gomez.png
      school: Thomas Nelson Community College (Freshmen)
      award:  <kbd>$500</kbd> The Liberty Tax Service "Una Familia Sin Fronteras" Scholarship
      bio:    "Raymundo Gomez is a college freshman enrolled in the Thomas Nelson Community College 2X2 program, which allows students to transfer to any college within the Tidewater Consortium if they meet the required GPA. Mr. Gomez attained a 3.7 GPA in the first year Honors Program and has been accepted into Old Dominion University for the Summer 2011 semester. He plans to major in English and ultimately wants to become a teacher. As a believer that community service has been a road to his own redemption, Mr. Gomez has logged over 500 hours of volunteer work with the Special Olympics. He feels he has gained just as much from his commitment to the Special Olympics as they have benefitted from his involvement. Faced with challenges and adversity at home when he was in the ninth grade, Mr. Gomez says he lost hope and resigned himself to being a high school dropout. He credits a high school teacher for rescuing him from certain failure when she recognized his potential. In part his desire to teach in a public school is motivated by his wish to give back to the community that has supported and encouraged him. In his own words, “I want to become the kind of man who is improved by adversity, not one who is limited by it."

    - name:   Jaimes, Milena
      image:  scholarships/milena-jaimes.png
      school: College of William and Mary (Junior)
      award:  <kbd>$1000</kbd> The VALHEN Latino Scholars Award
      bio:    "Transfer student from Richard Bland College GPA 4.0 at Richard Bland; Spring ’11 is her first semester at W&M. Milena Jaimes transferred to the College of William and Mary after earning an Associate of Science degree from Richard Bland College with a 4.0 average. She is pursuing a major in Kinesiology & Health Sciences. Her long-term goal is to obtain a Doctorate in Physical Therapy. Her interest in this field comes from a wish to challenge herself intellectually as well as a desire to help others lead lives with little or no physical limitations."

    - name:   Perez, Carolina
      image:  scholarships/carolina-perez.png
      school: Virginia Commonwealth University (Freshmen)
      award:  <kbd>$1000</kbd> The VALHEN Mario Colon Rivadeneira Memorial Scholarship
      bio:    "Carolina Perez, a freshman at Virginia Commonwealth University majoring in Biology with a concentration in pre-medicine, entered college in the fall with thirtysix earned credits thanks to her scores on Advanced Placement exams. After graduating from VCU, she has aspirations of attending medical school and is considering becoming a primary care physician or internist “to reach out to as many patients from various backgrounds and walks of life as possible.” Ms. Perez’s extracurricular activities include volunteering at the emergency room of a hospital, helping to lead a Rosary Prayer group at the Catholic Campus Ministry; and acting as the newsletter chair for the Brandt Hall Council in her residence hall at VCU. Of Mexican ancestry, Ms. Perez is cognizant of the importance of family. She is thankful for the values her parents instilled in her and for the sacrifices they made to ensure that she and her brothers have better opportunities. As a first generation college student, she is motivated not only to strive for her goals, but also to be a positive role model for other young women."

    - name:   Villalta, Ever
      image:  scholarships/ever-villalta.png
      school: George Mason University (Sophomore)
      award:  <kbd>$500</kbd> The Liberty Tax Service "Una Familia Sin Fronteras" Scholarship
      bio:    "Ever Villalta is a sophomore at George Mason University with a major in Government and International Politics and a minor in intelligence analysis. His career goal is be involved in intelligence analysis that shapes strategies in foreign policy and provides intelligence necessary to maintain the United States’ national security. He believes that a career with the government would allow him to serve a nation that has provided him and his family with so much. He would consider working for the United States Department of State or the Central Intelligence Agency. Mr. Villalta is actively involved with student government at George Mason University. He is a member of the Elections & Disputes Commission of George Mason University; a member of the George Mason College Democrats; a GMU Student Government Parking Appeals Board member and a GMU Mason Crew. Mr. Villalta expressed that he derives inspiration from his parents, who sacrificed themselves so their children could succeed. I've witnessed firsthand from my parents that hard work can go a long way and I am grateful for what I have. For that I seek to continuously capitalize on opportunities and set high goals."
---

p.hide-for-medium
h1.hide-for-small style="text-align:center" Scholarships
p Applications for the 2015 Scholarship Program are now closed. Scholarships will be awarded at the 2015 Encuentro, on October 9th at James Madison University.
<b>Applicants must meet the following criteria:<b>
</br></br>
<ul>
<li>Be a Virginia resident</li>
<li>Have a minimum 2.5 GPA (on a 4.0 scale)</li>
<li>Be a high school senior or a graduate of a Virginia high school and either have been accepted to, or be already enrolled full-time, in a degree-granting public or private Virginia college or university</li>
<li>Demonstrate financial need through the FAFSA or the FAFSA4Caster (if you are not eligible for FAFSA)</li>
<li>Be able to demonstrate leadership through involvement in school, and in the community, government, non-profit organization, work/job duties, or in another manner not mentioned here</li>
<li>Required to give permission to VALHEN to share personal information with other colleges for scholarship opportunities as well as other organizations for intern and job opportunities</li>
<li><b><span style='text-decoration: underline;'>Important Note:</span> An essay of 300-500 words is required of <i>all</i> applicants</b></li>
</ul>

p A total of 4 scholarships will awarded in 2015:

<table class="tg">
  <tr>
    <th class="tg-uhkr">Scholarship Name</th>
    <th class="tg-uhkr">Quantity</th>
    <th class="tg-uhkr">Scholarship Amount</th>
  </tr>
  <tr>
    <td class="tg-031e">VALHEN Scholarship Award</td>
    <td class="tg-s6z2">2</td>
    <td class="tg-031e">$1,000</td>
  </tr>
  <tr>
    <td class="tg-031e">VALHEN Rivadeneira Memorial Scholarship Award</td>
    <td class="tg-s6z2">1</td>
    <td class="tg-031e">$1,000</td>
  </tr>
  <tr>
    <td class="tg-031e">VALHEN-CVC Campaign Scholarship Award</td>
    <td class="tg-s6z2">1</td>
    <td class="tg-031e">$1,700</td>
  </tr>
</table>

dl.sub-nav#scholarship-tabs data-tab=''
  dt Year:
  dd.active
    a.no-shadow href='#ss-2014' 2014  
  dd
    a.no-shadow href='#ss-2013' 2013
  dd
    a.no-shadow href='#ss-2012' 2012
  dd
    a.no-shadow href='#ss-2011' 2011        
hr
.tabs-content
  - current_page.data.years.each_pair do |year, people|
    div class="content #{'active' if year == 2014}" id="ss-#{year}"
      - people.each do |person|
        .row
          .columns.large-3.medium-4.small-6.small-centered.medium-uncentered.large-uncentered style='float:none;margin: auto;'
            = image_tag person['image'], class: 'th'
          .columns.large-9.medium-8.small-12
            dl.scholarship
              dt Name
              dd #{person['name']}
              dt School
              dd #{person['school']}
              dt Award
              dd #{person['award']}
              dt Bio
              dd
                .row.readmore
                  .columns.small-12
                    #{person['bio']}
        hr

              
            


