---
title: College Stars
years:
  2015:
  - name:   Dr. Isaac Rodriguez </br><span style="margin-left:32px;">CEO/CSO & Co-Founder of SweetBio, Inc.</span>
    image:  stars/2015/Isaac-Rodriguez.jpg
    subject: BIOMEDICAL ENGINEERING
    schools: ['Virginia Commonwealth University, Class of 2013', 'PhD and M.S., Biomedical Engineering', 'University of Virginia, B.S. Biomedical Engineering']
    interests: ['○	Tissue Engineering','○	Dental Materials','○	Medical Devices','○	Entrepreneurship']
    awards:    ['○	Gates Millennium Scholar','○	Letter of Commendation for Service - US Senator Tim Kaine', '○	VCU Presidential Award for Community & Multicultural Enrichment', '○	VCU Excellence in Biomedical Engineering Graduate Program Award ']
    programs:    ["○	Mayor Luttrell's Young Professional Council", "○	Memphis Young Executives - Crescent Club","○	New Memphis Institute Embark Alumni", "○	VALHEN Hispanic College Institute Leadership Team", "○	VALHEN Hispanic College Institute Liaison"]

  - name : Marilynn Pamela Urquieta
    image: stars/2015/Pam-Urquieta-2.jpg
    subject: BUSINESS ADMINISTRATION
    schools: ['Virginia Commonwealth University, Class of 2015', 'B.S. Business Administration']
    interests: ['○	Entrepreneurship','○	Franchise Support','○	Marketing Communications and Public Relations','○	Youth Empowerment']
    awards: []
    programs: ["○	RVA Works - Entrepreneurship Intensive Course", "○	PCG 4HJ Program","○	Former Vice President of a Franchise", "○	VALHEN Hispanic College Institute Youth Mentor","○  VALHEN Hispanic College Institute Leadership Team"]

  - name : Julisa Perdomo Santos
    image: stars/2015/Julisa-Perdomo-Santos.jpg
    subject: BUSINESS INFORMATION TECHNOLOGY
    schools: ['Undergraduate - Virginia Tech', 'Class of 2019, Business Information Technology; Minor in International Business and Entrepreneurship - New Venture Growth']
    interests: ['○  Entrepreneurship: service-based business alleviating a common issue in the Hispanic community','○  Hispanic Youth','○  Latino Activism','○  Technology', '○  Volunteering/Traveling around Latin America']
    awards: ['○  Virginia Tech New Horizons Pamplin Scholarship','○  Virginia Tech Presidential Campus Enrichment Grant','○  Excellence in Leadership Award at the YLI ']
    programs: ['○  Youth Leadership Institute Participant','○  Readers Are Leaders Mentor', ' ○  VALHEN Hispanic College Institute Youth Mentor']

  - name : Santiago Vinueza
    image: stars/2015/Santiago-Vinueza.jpg
    subject: CIVIL ENGINEERING
    schools: ['Undergraduate - Virginia Tech', 'Class of 2016, Civil Engineering']
    interests: ['○  High Performance Composite Materials', '○  Earthquake Resistance of Structures', '○  Finite Element Methods of Solid Mechanics', '○  Rehabilitation of Reinforced Concrete', '○  Youth Empowerment']
    awards: ['○  Esperanza Education Fund Scholar','○  Hispanic College Fund Scholar','○  VALHEN Scholar','○  Golden Door Scholar','○  Dean’s List, Fall 2014 - Spring 2015','○  President’s Honor Roll, Fall 2012 - Fall 2013']
    programs: ['○  Virginia Tech Concrete Canoe, Captain','○  American Society of Civil Engineers','○  Chi Epsilon - National Civil Engineering Honors Society','○  Students Helping Honduras','○  VALHEN Hispanic College Institute Youth Mentor','○  VALHEN Hispanic College Institute Leadership Team']

  - name : Wanda Hernández </br><span style="margin-left:32px;">Intern, National Museum of American History</span>
    image: stars/2015/Wanda-Hernandez.jpg
    subject: COMMUNICATIONS
    schools: ['Virginia Commonwealth University, Class of 2015','B.S. Mass Communications and Public Relations; Minor in Art History ']
    interests: ['○  Community Development','○  Art (spoken word and visual) and Social Change','○  Latino and African American Race Relations','○  Latino Identity in the U.S.','○  Immigration Reform','○  Museum Studies','○  Oral History']
    awards: ['○  Anti-Racist Scholarship','○  Hip-Hop Scholarship','○  Smithsonian Minority Internship Program','○  Magna Cum Laude',"○  Dean's List, Fall 2011 - Spring 2015"]
    programs: ['○  Sigma Lambda Upsilon/Señoritas Latinas Unidas Sorority, Inc.','○  CASA de Virginia','○  Words, Beats and Life Inc.','○  VALHEN Hispanic College Institute Leadership Team']

  - name : Leo Alberto
    image: stars/2015/Leo-Alberto.jpg
    subject: COMPUTER INFORMATION SYSTEMS
    schools: ['Virginia Commonwealth University, Class of 2015','B.S. Computer Information Systems']
    interests: ['○  Information Technology','○  Insurance and Financial Services']
    awards: []
    programs: ['○  State Farm - Licensed Office Representative','○  VCU Latino Student Association, Treasurer 2013-2015','○  Lambda Theta Phi Latin Fraternity, Inc.','○  Association of Information Technology Professionals @ VCU, Member','○  VALHEN Hispanic College Institute Logistics Committee','○  VALHEN Hispanic College Institute Youth Mentor']

  - name : Johan Mendoza
    image: stars/2015/Johan-Mendoza.jpg
    subject: CRIMINAL JUSTICE
    schools: ['Virginia Commonwealth University, Class of 2015','B.S. Criminal Justice; Minor in Homeland Security']
    interests: ['○  Criminal Psychology','○  Juvenile Psychology','○  Terrorism','○  Criminal Investigation']
    awards: []
    programs: ['○  VALHEN Hispanic College Institute Youth Mentor']

  - name : Fernando Espinoza
    image: stars/2015/Fernando-Espinoza.jpg
    subject: ECONOMICS
    schools: ['Undergraduate - Hampden-Sydney College','Class of 2018, Economics and Mathematics']
    interests: ['○  Business and Economics','○  Spanish','○  Mathematics','○  Non-Profit Organizations']
    awards: ["○  Dean's List, Fall 2014 - Spring 2015",'○  Student Senate of Hampden-Sydney College, Secretary-Treasurer','○  Student Senate of Hampden-Sydney College, Student Senator']
    programs: ['○  Philanthropic Hampden-Sydney College Club, President and Founder','○  VALHEN Hispanic College Institute Youth Mentor']

  - name : Gabriela Elias-Chang <br/> <span style="margin-left:33px">Intern at Volunteers of America</span>
    image: stars/2015/Gabriela-Elias-Chang.jpg
    subject: EDUCATION
    schools: ['Undergraduate - Montgomery College','Class of 2017, Education and Minor in Spanish']
    interests: ['○  Social and Political Activism','○  Human Rights (Specifically Women’s and Latino Rights)',' ○  Animal Rights','○  Event Organization']
    awards: ["○	Montgomery College Service Learning Award College"]
    programs: ['○  UNICEF','○  Greenbelt Animal Shelter','○  Collegiate LULAC','○  Hispanic Youth through Power and Education',' ○  VALHEN Hispanic College Institute Youth Mentor']

  - name : Eliette M Claros
    image: stars/2015/Eliette-Claros.jpg
    subject: ENGINEERING SCIENCE AND MECHANICS
    schools: ['Undergraduate – Virginia Tech ','Class of 2018, Engineering Science and Mechanics; Minor in Biomedical Engineering']
    interests: ['o  Signal and Imaging Processing','o  Medical Imaging','o  Biomaterials','o  Nanorobotics']
    awards: ["o	Gilbert & Lucille Seay + IDEAS Scholarship Recipient"]
    programs: ['o  CAMEO Career Fair Co-Chair','o  CEED Galipatia Community',' o  Disciples on Campus Ministry','o  VALHEN Hispanic College Institute Logistics Committee']

  - subject: HOMELAND SECURITY
    name : Valentina Vega
    schools: ['Undergraduate - Virginia Commonwealth University','Class of 2016, Homeland Security and Emergency Preparedness; Minor in French and International Social Justice']
    interests: ['○  International Affairs','○  National Intelligence','○  Foreign Service, Globally and Culturally Oriented','○  Youth Empowerment, Mentoring, and Community Outreach']
    awards: ["○  Gates Millennium Scholar","○  Dean's List, Fall & Spring 2014, 2015"]
    programs: ['○  Elkhardt Middle School After School Mentor, 2015','○  VCU STAT (Students Today Alumni Tomorrow)','○  Sigma Lambda Upsilon PEARLS Mentoring Program (Mentor)','○  4-H Character Counts Leader','○  VALHEN Hispanic College Institute Youth Leadership','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Valentina-Vega.jpg

  - subject : HUMAN SERVICE COUNSELING
    name :  Amy Zuaso
    schools: ['Graduate - Liberty University','Class of 2016, M.A Human Services Counseling; Life Coaching Specialization','James Madison University, Class of 2012, B.A. Psychology ']
    interests: ['○  Higher Education','○  Counseling','○  Social Justice','○  Animal Rights']
    awards: ["○  Centennial Scholars Scholarship Program at JMU","○  Patricia McElroy Memorial Scholarship at NVCC "]
    programs: ['○  First Year Advisor at NVCC','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Amy-Zuaso.jpg

  - subject : INTERNATIONAL AFFAIRS
    name : Michelle Luna-Victoria
    schools: ['Undergraduate - James Madison University ','Class of 2019, International Affairs and Music']
    interests: ['○  Education and Mentoring','○  Music and Theatre','○  International Affairs and Human Rights','○  Homeland Security']
    awards: ["○  International Baccalaureate (IB) Diploma Candidate",'○  Johns Hopkins University Center for Talented Youth (CTY) Scholar','○  District Honor Band',"○  Bronze Medal in Education, Hispanic Heritage Foundation Youth Awards"]
    programs: ['○  Freshman mentor','○  Parent Teacher Student Association Vice President','○  Marching band','○  Cappies','○  Alternative House Youth Advisory Council','○  Fairfax County Park Authority Summer Camp Counselor','○  Saint Anthony of Padua Catholic Church Music Ministry','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Michelle-Luna-Victoria.jpg

  - subject : MECHANICAL ENGINEERING
    name : Kevin Moreno
    schools: ['Undergraduate - Howard Community College','Class of 2017, Mechanical Engineering']
    interests: ['○  STEM','○  NASA','○  Technological Research and Development','○  Latino Activism']
    awards: ["○  Feli Solá-Carter Leadership Award",'○  2013 Student Service Award',"○  Hispanic Heritage Youth Award for Mathematics and Engineering"]
    programs: ['○  Hispanic Student Union','○  Ambassadors for Community Transformation','○  Ambiciones - Hispanic Student Success Initiative','○  Hispanic Youth with Power and Education (HYPE) Youth Mentor','○  Hispanic Scholarship Fund - Hispanic Youth Institute Alumni','○  Hispanic Heritage Foundation','○  Conexiones','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Kevin-Moreno.jpg

  - subject : POLITICAL SCIENCE
    name : Luisa Burgos <br/> <span style="margin-left:33px">Trout, Cacheris & Janis PLLC (Administrative Assistant/ Receptionist)</span>
    schools: ['James Madison University, Class of 2015','B.A. Political Science; Minor in Spanish and Latin American & Caribbean Studies']
    interests: ['○  Law','○  Student Affairs, Higher Education, and Leadership','○  Social Justice','○  Non-profit Organizations','○  Politics']
    awards: ["○  COIN Scholar","○  New World Foundation"]
    programs: ['○  Phi Alpha Delta-Pre Law Fraternity','○  Latino Student Alliance','○  ANT (Assisting New Transfers) Orientation Office JMU','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Luisa-Burgos.jpg

  - subject : PRE-MED
    name : Nicole Claros Lujan
    schools: ['Undergraduate - George Mason University','Class of 2017, Chemistry (Pre-Med)']
    interests: ['○	Pre Med- Pediatric Oncology']
    awards: ["○  Optimist Scholar",'○  Ilumina Scholar','○  Dream Big- Kristan Kyllo Scholar',"○  GMU Honors College Student"]
    programs: ['○  INOVA Fairfax Hospital - Pediatric Unit Volunteer','○  Treasurer of Hispanic Student Association','○  Secretary of F1rst Gen Mason','○  Resident Advisor GMU','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Nicole-Claros-Lujan.jpg

  - subject : PRE-NURSING
    name : Melissa Martinez
    schools: ['Undergraduate - Northern Virginia Community College ','Class of 2017, Pre-Nursing']
    interests: ['○  DREAM Act Advocate','○  Youth Development','○  Non-profit Organizations','○  Expand Global Healthcare','○  Woman Empowerment','○  Latino Culture Enrichment']
    awards: ["○  Jennifer Mitchell Memorial Scholarship Fund Scholar",'○  The Closet of the Greater Herndon Area, Inc. Scholar',"○  American Association of University Women Scholarship Scholar"]
    programs: ['○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Melissa-Martinez.jpg

  - subject : PSYCHOLOGY
    name : Margarita Hernández
    schools: ['Undergraduate - Marymount University','Class of 2019, Psychology']
    interests: ['○  Community Service','○  Forensic Psychology','○  Writing','○  Learning Sign Language']
    awards: ["○  Academic Success Scholarship","○  Civic Seal Award"]
    programs: ['○  Altar Server','○  Confirmation Retreat Volunteer','○  Drama Skit Actress','○  President of College Partnership Program','○  Key Club','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Margarita-Hernandez.JPG

  - subject : PSYCHOLOGY
    name : Henry Jimenez
    schools: ['Seeking further education in Psychology in near future','Virginia Commonwealth University, Class of 2015',' B.S. Psychology ']
    interests: ['○  Interpersonal Relationships','○  Societal Movements and Social Psychology','○  Youth Development','○  Human Resources','○  Latino Community Outreach  ']
    awards: ["○  Graduated Cum Laude",'○  Dean’s List, Spring 2013 - Fall 2014',"○  Academic Achievement Award - Spring 2013, Fall 2014, Spring 2014"]
    programs: ['○  VCU Latino Student Association, President','○  Psychology Course Teaching Assistant','○  Psychology Research Assistant','○  Child Development Center Intern','○  Virginia Hispanic Chamber of Commerce Intern','○  VCU Health Sciences Academy Mentor','○  VALHEN Hispanic College Institute Youth Mentor ']
    image: stars/2015/Henry-Jimenez.jpg

  - subject : PSYCHOLOGY
    name : Carlos Neves
    schools: ['Undergraduate - Virginia Commonwealth University','Class of 2016, Psychology; Minor in Criminal Justice']
    interests: ['○  Law Enforcement','○  Involvement with International Impoverished Communities','○  Forensic Psychology','○  Mentoring Latino Youth']
    awards: []
    programs: ['○  VCU Latino Student Association, Chairman of Internal and External Affairs','○  Missionary Volunteer with Reston Bible Church in Brazil','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Carlos-Neves.jpg

  - subject : PUBLIC HEALTH
    name : Elizabeth Garcia <br/><span style="margin-left:33px;">Lab technician at the United States Geological Survey Bee Inventory and </span><br/><span style="margin-left:33px;"> Monitoring Lab</span>
    schools: ['Undergraduate - University of Maryland, College Park ','Class of 2017, Behavioral and Community Health ']
    interests: ['○  Public Health','○  Latino Youth',"○  Latino and Women's Rights",'○  Bee Preservation','○  Volunteer Work','○  Travel ']
    awards: ["○  Dean’s List, Fall 2013 - Spring 2015",'○  Honors College Program: University Honors']
    programs: ['○  School of Public Health Honorary Society, Phi Alpha Epsilon','○  Director of Internal Affairs of the Coalition of Latino Student Organization','○  Hispanic Scholarship Fund Youth Leadership Institute Logistics Committee','○  Hispanic Youth with Power and Education team','○  Hispanic Festival Volunteer',' ○  VALHEN Hispanic College Institute Logistics Committee']
    image: stars/2015/Elizabeth-Garcia.jpg

  - subject : PUBLIC POLICY
    name : Ashley Garcia
    schools: ['Undergraduate – James Madison University','Class of 2017, Public Policy and Management; Minor in Legal Spanish']
    interests: ['○  Law','○  Management','○  Non-profit work','○  Human Rights / Social Justice','○  Politics']
    awards: []
    programs: ['○  Legal internship with the Central American and Resource Justice Center (CARECEN)','○  Latino Student Alliance at JMU, Secretary','○  Candela Latin Dance Team at JMU, Captain','○  Phi Alpha Delta Pre-Law Co-ed Fraternity','○  Volunteer at Community Lodgings Inc.','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Ashley-Garcia.jpg

  - subject : SOCIOLOGY
    name : Jazmin Montano Aguilar
    schools: ['Undergraduate - Virginia Commonwealth University ','Class of 2017, Sociology; Minor in Spanish; CETI Certificate']
    interests: ['○  Pulsera Project Non-Profit Organization','○  Volunteering with kids at VCU Hospital']
    awards: ['○  Student of the Year at Chesterfield Technical Center, 2013','○  Health Occupation Students of America National Finalist ']
    programs: ['○  VCU Latino Student Association, Public Relations Chair','○  VCU Health Occupation Students of America (HOSA)','○  PEARLS Mentorship Program','○  VALHEN Hispanic College Institute Youth Mentor']
    image: stars/2015/Jazmin-Montano-Aguilar.jpg

  2014:
  - name:   Isabel Argoti
    image:  stars/IsabelArgoti.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    subject: Architecture
    interests: ['Architecture','Design','Hispanic youth','Woman leadership']
    schools: ['Undergraduate - University of Virginia Class of 2016, Architecture']
    awards:    ['National Hispana Leadership Institute','Latinas Learning to Lead 2014','Fellow William D. Darden Memorial Fund, Scholarship Award for Study Abroad in Jamaica']
    programs:    ['Sigma Lambda Upsilon/Señoritas Latinas Unidas Sorority, Inc., Chapter President','Falmouth Heritage Renewal, ecoREMOD in Jamaica, Design + Build Student','Latino Student Alliance, Active Member','VALHEN Hispanic College Institute, Lead & Junior Lead','VALHEN Hispanic College Institute youth mentor', 'Global Architecture Brigade: Honduras, International Volunteer', 'Collegiate Directions Inc. (CDI), Alumni', 'Latina Style Magazine, Event Volunteer']

  - name:   Isaac Rodriguez, Ph.D.
    image:  stars/IsaacRodriguez.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['The University of Memphis - Postdoctoral Fellow','Virginia Commonwealth University - Class of 2010 & 2013, M.S. & Ph.D., Biomedical Engineering','University of Virginia - Class of 2007, B.S., Biomedical Engineering; Minor in Engineering Business']
    subject: Biomedical Engineering
    interests: ['Tissue Engineering and Regenerative Medicine','Youth Empowerment, Mentoring, and Community Outreach']
    awards:    ['Biomedical Engineering Society Innovation & Career Development Travel Award', 'Alexander Mallory Clarke Award for Academic Excellence in the VCU BME Graduate Program', 'VCU Presidential Award for Community Multicultural Enrichment (PACME)', 'Gates Millennium Scholarship']
    programs:    ['VALHEN Board Member and HCI Liaison','Mayor Luttrell’s Young Professional Council','Memphis Young Executives, ClubCorp Crescent Club','Memphis Urban League of Young Professionals']

  - name:   Marilynn Pamela Urquieta
    image:  stars/MarilynnPamelaUrquieta.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Virginia Commonwealth University Class of 2015, Business Administration']
    subject: Business
    interests: ['Entrepreneurship','Franchise Support','Marketing Communications & Public Relations','Youth Empowerment']
    awards:    []
    programs:    ['RVA Works - Entrepreneurship Intensive Course', 'VALHEN HCI Leadership Team and Mentor', 'PCG 4HJ Program', 'Former Vice President of a Franchise']

  - name:   Santiago Vinueza
    image:  stars/SantiagoVinueza.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Virginia Polytechnic Institute and State University Class of 2016, Civil Engineering']
    subject: Civil Engineering
    interests: ['Structures and materials', 'High performance concrete', Alternative cementitious materials', 'Sustainability', 'Youth empowerment']
    awards:    ['Associates of Science in Engineering, summa cum laude', 'Esperanza Education Fund Scholar', 'Hispanic College Fund Scholar', 'VALHEN Scholar', 'Golden Door Scholar', 'Dean’s List - Fall 2014', 'President’s Honor Roll - Fall 2012, Spring 2013, Fall 2013']
    programs:    ['Virginia Tech ASCE Student Chapter', 'Virginia Tech Concrete Canoe', 'Chi Epsilon, National Civil Engineering Honors Society', 'Students Helping Honduras', 'VALHEN Hispanic College Institute youth mentor', 'VALHEN Student Representative']

  - name:   Melissa Cisneros
    image:  stars/MelissaCisneros.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Virginia Polytechnic Institute and State University Class of 2018, Multi-media Journalism & HNFE']
    subject: Communications
    interests: ['Broadcasting', 'Video editing', 'Filming', 'Interviewing', 'Human anatomy']
    awards:    ['Reston Hospital Scholarship', 'Jennifer Mitchell Scholarship', 'Open Presbyterian', 'Church Scholarship']
    programs:    ['Disciples on Campus Ministry', 'VT TV', 'Latin Link - Eboard member Subcultural chair', 'Yates Project', 'VALHEN Hispanic College Institute Logistics Committee']

  - name:   Wanda Hernandez
    image:  stars/WandaHernandez.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Virginia Commonwealth University Class of 2015, Mass Communications – Concentration: Public Relations; Minor in Art History']
    subject: Communications
    interests: ['Promoting social justice through culture and arts', 'Project management', 'Humanities research', 'Advocacy']
    awards:    ['Segal Award', 'Education Abroad Scholarship', 'University Career Center Leaders']
    programs:    ['Sigma Lambda Upsilon/Señoritas Latinas Unidas Sorority, Inc.', 'VCU AmeriCorps', 'University Career Center Ambassador', 'YWCA', 'PEARLS Mentorship Program', 'VALHEN Hispanic College Institute Youth Leadership']

  - name:   Leo Alberto
    image:  stars/LeoAlberto.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate - Virginia Commonwealth University Class of Fall 2015, Computer Information Systems; Minor in Spanish']
    subject: Computer Information Systems
    interests: ['Information technology', 'Insurance and financial services']
    awards:    []
    programs:    ['VCU Latino Student Association, Treasurer', 'Lambda Theta Phi Latin Fraternity, Inc., Vice-President', 'Association of Information Technology Professionals @ VCU, Member', 'State Farm - Licensed Office Representative', 'VALHEN Hispanic College Institute Logistics Committee', 'VALHEN Hispanic College Institute youth mentor']

  - name:   Fernando Espinoza
    image:  stars/FernandoEspinoza.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Hampden-Sydney College Class of 2018, Economics & Mathematics; Minor in Latin American Studies']
    subject: Economics
    interests: ['Developmental economics with a focus on Latin America', '<br/>']
    awards:    ['Dean’s List - Fall 2014', '<br/>', '<br/>']
    programs:    ['President and Founder of High School Latino Club', 'Hampden-Sydney Student Senate, freshman class', 'VALHEN Hispanic College Institute youth mentor']

  - name:   Andre Sanabia
    image:  stars/AndreSanabia.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – University of Virginia Class of 2017, Economics & Women, Gender and Sexuality']
    subject: Economics
    interests: ['Public policy', 'Education/mentoring', 'Policies affecting racial/ethnic minorities, women, or LGBTQ-identified people']
    awards:    ['University Achievement Award Full Tuition Scholarship', 'Echols Scholar', 'Meriwether Lewis Institute for Citizen Leadership Fellow', '<br/>']
    programs:    ['HSF Youth Leadership Institute - Leadership Empowerment and Academic Development (LEAD) Mentor', 'La Unidad Latina, Lambda Upsilon Lambda Fraternity, Inc. Chapter Vice-President', 'UVA Admissions Office Outreach Team', 'VALHEN Hispanic College Institute Logistics Committee']

  - name:   Valentina Vega
    image:  stars/ValentinaVega.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Virginia Commonwealth University Class of 2016, Homeland Security & Emergency Preparedness; Minor in French and International Social Justice']
    subject: Homeland Security
    interests: ['Foreign service, globally and culturally oriented', 'International relations', 'Youth development', 'Community service']
    awards:    ['Gates Millennium Scholarship', 'Dean’s List - Fall 2014', '<br/>']
    programs:    ['VCU STAT (Students Today Alumni Tomorrow)', 'Sigma Lambda Upsilon PEARLS Mentoring Program (Mentor)', '4-H Character Counts Leader', 'VALHEN Hispanic College Institute Youth Leadership']

  - name:   Kevin Moreno
    image:  stars/KevinMoreno.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate - Howard Community College Class of 2017, Mechanical Engineering']
    subject: Mechanical Engineering
    interests: ['STEM','NASA', 'Technological research and development', 'Latino Activism']
    awards:    ['Feli Solá-Carter Leadership Award','Hispanic Heritage Youth Award for Mathematics and Engineering', '<br/>']
    programs:    ['Hispanic Student Union','VALHEN - Hispanic College Institute youth mentor','Hispanic Scholarship Fund -  Hispanic Youth Institute alumni','Hispanic Heritage Foundation','Conexiones']

  - name:   Elmer Chavez
    image:  stars/ElmerChavez.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Montgomery College - Maryland Class of 2017, Associates']
    subject: Physical Therapy
    interests: ['Physical therapy', 'Personal training', 'Communications (Television, Radio, & Film)']
    awards:    ['International Baccalaureate Diploma']
    programs:    ['Rustic Pathways','Serengetee','VALHEN Hispanic College Institute photographer']

  - name:   Luisa Burgos
    image:  stars/LuisaBurgos.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – James Madison University Class of 2015, Political Science']
    subject: Political Science
    interests: ['Politics','Social justice','Non-profit organizations','Student affairs and leadership']
    awards:    ['COIN Scholar', 'New World Foundation', '<br/>']
    programs:    ['Phi Alpha Delta - Pre law fraternity.','Latino Student Alliance','JMU Orientation office - ANT (Assisting New Transfers)','Just Neighbors Legal Services','Virginia New Majority','Tenants and Workers United', 'VALHEN Hispanic College Institute youth mentor']

  - name:   Gabriela Elias-Chang
    image:  stars/GabrielaElias-Chang.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Virginia Commonwealth University Class of 2017, Political Science and Spanish']
    subject: Political Science
    interests: ['Latino activism','Social justice','Education']
    awards:    []
    programs:    ['UNICEF','VCU Latino Student Association','Student Admissions Ambassador','Residential Advisor','VALHEN Hispanic College Institute Logistics Committee']

  - name:   Nicole Claros
    image:  stars/NicoleClaros.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – George Mason University Class of 2017, Pre-Med; Chemistry']
    subject: Pre-Med
    interests: ['Health','Dance']
    awards:    ['Illumina Scholar','Dream Big Khristan Kyllo Scholar','Optimist Club of Vienna Scholar', 'GMU Honors College Student']
    programs:    ['INOVA Fairfax Hospital Volunteer','Hispanic Student Association', 'F1rst Gen Mason','VALHEN Hispanic College Institute youth mentor']

  - name:   Melissa Martinez
    image:  stars/MelissaMartinez.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – Northern Virginia Community College Class of 2017, Pre-Nursing']
    subject: Pre-Nursing
    interests: ['DREAM Act advocate','Community service','Youth development','Non-profit organizations','Expand global healthcare','Woman empowerment','Latino culture enrichment']
    awards:    ['Jennifer Mitchell Memorial Scholarship Fund Recipient','The Closet of the Greater Herndon Area, Inc. Recipient','American Association of University Women Scholarship Recipient']
    programs:    ['VALHEN Hispanic College Institute youth mentor']

  - name:   Henry Jimenez
    image:  stars/HenryJimenez.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate - Virginia Commonwealth University Class of 2015, Psychology & Sociology']
    subject: Psychology
    interests: ['Social psychology, psychology, and sociology','Latino community outreach','Youth leadership development']
    awards:    ['Dean’s List - Spring 2013, Fall 2014, Spring 2014, Fall 2014','Academic Achievement Award - Spring 2013, Fall 2014, Spring 2014','<br/>']
    programs:    ['VCU Latino Student Association, President','Psychology Course Teaching Assistant','Psychology Research Assistant for Dr. Jeffrey Green and Dr. Rosalie Corona','Child Development Center Intern','Virginia Hispanic Chamber of Commerce Intern','VCU Health Sciences Academy Mentor','VALHEN Hispanic College Institute youth mentor']

  - name:   Elizabeth Garcia Lozano
    image:  stars/ElizabethGarciaLozano.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – University of Maryland','Class of 2017, Behavioral and Community Health']
    subject: Public Health
    interests: ['Public health', 'human behavior','Community service and volunteer work','Helping improve the lives of others', 'Traveling']
    awards:    []
    programs:    ['Internal Liaison for the Coalition of Latino Student Organization','Student Leader for HYPE (Hispanic Youth with Empowerment and Education)','VALHEN Hispanic College Institute Logistics Committee']

  - name:   Adriane Lopez
    image:  stars/AdrianeLopez.jpg
    school: Undergraduate - University of Virginia Class of 2016, Architecture
    schools: ['Undergraduate – The College of William & Mary Class of 2016, Public Policy & Latin American Studies']
    subject: Public Policy
    interests: ['Law','Immigration policy','International development','Economic development of Latin America & its economic relations with the U.S.']
    awards:    ['Hispanic College Fund Scholar','Dean’s List - Fall 2014','<br/>']
    programs:    ['Organizing Fellow at Organizing for America - Virginia', 'Service Chair in the Latin American Student Union','Member of the Multicultural Ambassador Council - Office of Admissions','Member of the Young Democrats','VALHEN Hispanic College Institute youth mentor']

  - name:   Luz Haro
    image:  stars/LuzHaro.jpg
    school: Northern Virginia Community College – Pathway to the Baccalaureate Program
    schools: ['Virginia Commonwealth University Class of 2014, B.S., Sociology; Minor in Psychology and Spanish']
    subject: Sociology
    interests: ['Education','Counseling','Non-profit','Social services']
    awards:    ['Who’s Who Among Students in American Universities & Colleges','International Sociology Honors Society - Alpha Kappa Delta','Leadership Honor Society - Omicron Delta Kappa','2010 Karen E. Walsh Memorial Scholarship at Northern Virginia Community College']
    programs:    ['Elkhart Middle School, After School Mentor','Bridge CDC, Child Care Provider for Adult ESL','Students for a Democratic Society VCU Chapter','LULAC Young Adult Council DC','Dreamers of Virginia','Intern in Summer Pathway Connection Institute at NVCC','Collaborative Solutions for Communities, caseworker','Child Care Aware of America, HCC program specialist','VALHEN Hispanic College Institute youth mentor']
---

p.hide-for-medium
center
	h1.hide-for-small VALHEN College Stars
p Take a close look! Featured on these pages are some of the future leaders of our Commonwealth: these amazing young adults—our VALHEN <b>College Stars</b>.
p The Hispanic College Institute (HCI) works as a pipeline to identify and recruit high school students who are college material and provide them with the necessary knowledge and tools to enter and persist in college. The success of the HCI is due, in large part, to the commitment and dedication of returning HCI graduates who are now in college plus other college students, to serve as leaders to the high school participants.
p These college students, who are volunteer peer mentors and work as <b>LEAD</b> volunteers, have an opportunity to practice their leadership skills and pass on a culture of helping the next generation achieve the college dream. The individuals who volunteer for these positions understand that their purpose is to live out the acronym <u><b>LEAD:</b> Leadership, Empowerment, and Academic Development</u> in the lives of the high school students that are placed under their care at the HCI.
p By their actions, the LEADs help perpetuate a college-going culture among their peers and create a future where developing the next generation of Hispanic/Latino professionals is no longer just the mission of VALHEN and its HCI – <i>but their mission, too.</i>
p VALHEN thanks these emerging Hispanic leaders for their generous gift of themselves and their dedication to developing others like them. The HCI would not be possible without their amazing contributions!
p VALHEN encourages corporations, government offices, higher education institutions, non-profits, and other organizations to contact these amazing young Hispanics to make them aware of opportunities and invite them to participate in any available academic and/or professional programs. 
p To contact any of our College Stars, please send a message to <a href="mailto:collegestars@valhen.org">collegestars@valhen.org</a>

dl.sub-nav#star-tabs data-tab=''
  dt Year:
  dd.active
    a.no-shadow href='#stars-2015' 2015
  dd
    a.no-shadow href='#stars-2014' 2014
.tabs-content
  - current_page.data.years.each_pair do |year, people|
    div class="content #{'active' if year == 2015}" id="stars-#{year}"
      - people.each do |person|
        hr
        p style="font-size:20px;" #{person['subject']}
        .row
          .columns.large-3.medium-4.small-6.small-centered.medium-uncentered.large-uncentered style='float:none;margin: auto;'
            = image_tag person['image'], class: 'th'
          .columns.large-9.medium-8.small-12
            dl.scholarship
              dt Name
              dd &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; #{person['name']}
              hr
              dt Education
              dd.ul style="list-style-type: none;"
                - person['schools'].each do |i|
                  li style="margin-left:30px;" #{i}
              hr
              dt Areas of Interest
              dd.ul style="list-style-type: none;"
                - person['interests'].each do |i|
                  li style="margin-left:30px;" #{i}
              hr
              dt style="margin-left:-10px;" #{"Recognitions, Awards, & Scholarships" if person['awards'].length > 0}
              dd.ul style="list-style-type: none;"
                - person['awards'].each do |i|
                  li style="margin-left:30px;" #{i}
              - if person['awards'].length > 0
                hr
              dt Program Involvement
              dd.ul style="list-style-type: none;"
                - person['programs'].each do |i|
                  li style="margin-left:30px;" #{i}